*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.search{
    width: 90%;
    height: 4rem;
    margin: 0.5rem auto 1rem;

    border: 1px solid rgb(199,199,199);
}
input{
    width: 70%;
    height: 2.5rem;
    padding-left: 2rem;
    padding-top: 0.8rem;
    border: none;
}
input::placeholder{
    font-size: 1.3rem;
    line-height: 3rem;
}
.search .sou{
    width: 2rem;
    padding-left: 1rem;
    position: absolute;
    top: 1.5rem;
}
.list{
    width: 100%;
    height: 4rem;
    border-bottom: 2px solid rgb(199,199,199);
    position: relative;
}
.list ul{
    width: 95%;
    display: flex;
    justify-content: space-evenly;
}
.list ul li{
    background: url(../img/page3/下箭头.png) no-repeat 5.4rem 1.2rem;
    background-size: 1rem 1rem;
    padding:1rem 1.5rem;
}
.list ul li a{
    color: rgb(102,102,102);
    font-size: 1.8rem;
    font-weight: 600;
}

content{
    width: 100%;
}
content ul{
    width: 90%;
    margin: 0 auto;
}
content ul li{
    display: flex;
    border-bottom: 0.1rem solid #ff8a00;
    padding: 2em 1.3rem;
}
content ul li img{
    width: 33%;
}
content ul li p{
    padding-left: 1.5rem;
    line-height: 2.5rem;
}
content ul li p .gry{
    color: rgb(167, 171, 177);
}
content ul li .title{
    font-size: 1.4rem;
    font-weight: 600;
}
content ul li .price{
    color: #ff8a00;
    font-weight: 600;
}

.footer-box{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: rgb(147,148,147);
    background-color: rgb(47,49,48);
}
.wuyou{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: left;
    color: rgb(147,148,147);
    font-size: 1.4rem;
    border-bottom: 1px solid rgb(147,148,147);
}
.cu{
    font-weight: 400;
    font-size: 1.5rem;
}
.duan{
    width: 100%;
    height: 8rem;
    color: rgb(147,148,147);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.apple{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}


.quyu-box{
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    width: 100%;
    display: none;
}
.tan-box{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
}
.tan-box p{
    width: 33%;
    display: flex;
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: rgb(240,240,240);
}
.tan-box p span{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tan-box>dl{
    width: 33%;
    display: flex;
    flex-direction: column;
    background: white;
    border-right: 1px solid rgb(240,240,240);
}
.tan-box dl dd{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid rgb(240,240,240);
}
.juse{
    color: #ff8a00;
    background: white;
}

.jiage-box{
    background: white;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 100;
}
.jiage-box dd{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid rgb(240,240,240);
}
.jiage-box dt{
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.jiage-box dt span{
    margin-left: 2rem;
    padding:.5rem;
    background: rgb(240,240,240);
}

.fangxing-box{
    background: white;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 100;
}
.fangxing-box dd{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid rgb(240,240,240);
}
.fangxing-box dt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    background: #ff8a00;
    color: white;
}

.more-box{
    width: 100%;
    display: none;
    position: absolute;
    z-index: 100;
    background: white;
}
.gengduo-box{
    width: 100%;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(240,240,240);
}
.gengduo-box dt{
    height: 4rem;
    font-size: 1.6rem;
    display: flex;
    padding-left: 2rem;
    align-items: center;
}
.gengduo-box dd{
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}
.gengduo-box dd div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.gengduo-box dd>p{
    margin-left: .8rem;
}
.gengduo-box dd p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 22%;
    border:1px solid rgb(240,240,240);
    background: white;
    color: rgb(199,199,199);
}





